.user-panel-parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-change-pass-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 2rem;
    
  box-shadow:5px 8px 16px 6px rgba(69, 123, 157, 0.3);

}
.user-password-title{
    text-align: center;
    margin-top: 1rem;
}
.user-change-pass-form label{
    font-size: 1.5rem;
    font-weight: 20px;
    margin-top: 1rem;
}
.user-change-pass-form input{
    padding: .5rem;
    outline: 0;
    border-radius: 5px;
    border: 0;

    border: 1px solid #ccc;
}
.user-change-pass-form input:focus{

    color: #495057;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
    border: 2px solid #0d6efd
}
.user-change-pass-submit-btn{
    border: 0;
    background-color: var(--primary);
    border-radius: 5px;
    margin-top: 2rem;
    padding: .4rem;
    color: #fff;
    font-size: 1.4rem;
}
