.admin-login{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    box-shadow: 0 8px 16px 0 rgba(69, 123, 157, 0.2);
    
    
    }
    .admin-login-back{
        width: 400px;
        border-radius: 10px;
        padding: 1rem;
        border: 1px solid var(--primary);
    }
    